<p>Hello <%= @resource.name %>, <br>
  Someone has requested a link to change your password. You can do this through the link below. Note that this link expires in 2 hours.
</p>

<a href="<%= "https://" + Rails.application.config.action_mailer.default_url_options + "/auth/passwords/?reset_token=" + @token + "&id=" + @resource.id.to_s%>">Confirm my account</a>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>
  Best regards,<br>
  The CytonicMC Team <br>
  support@cytonic.net<br>
</p>
